# Environment Variables
VITE_SUPABASE_URL=https://mvejujwxravdmprnpmql.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im12ZWp1and4cmF2ZG1wcm5wbXFsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA4MzQzODIsImV4cCI6MjA4NjQxMDM4Mn0.pkllR2cOYRwVQAxWqDjIhB7eOUVFTLdUpPVyw7cNZ2c


